{{#each email in emails}}
<div class="row">
  <div class="span4">
    <a {{action showEmail email href=true}}>
      <h4>{{email.title}}</h4>
    </a>
    <p>{{email.dateOnlyString}}</p>
  </div>
  <div class="span7">
    <p>{{breakLines email.shortText}}</p>
    <p><a {{action showEmail email href=true}}>more</a></p>
  </div>
</div>
<hr/>
{{/each}}
<a class="btn" {{action doHome}}>&laquo; back home</a>
